<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Jobbsøknad skjema</h1>
  <h2>Fyll ut skjemaet under og trykk send for å generere en jobbsøknad!</h2>
  <form action="/submit" method="post">
    <label for="stilling">Jeg skal søke på stillingen som:</label>
    <textarea id="stilling" name="stilling"></textarea><br>

    <label for="arbeidsgiver">Skriv litt om arbeidsgiveren:</label>
    <textarea id="arbeidsgiver" name="arbeidsgiver"></textarea><br>
    
    <label for="arbeidsOppgaver">Skriv litt om arbeidsoppgavene i jobben:</label>
    <textarea id="arbeidsOppgaver" name="arbeidsOppgaver"></textarea><br>

    <label for="kvalifikasjonerØnsket">Hva er de ønskede kvalifikasjonene:</label>
    <textarea id="kvalifikasjonerØnsket" name="kvalifikasjonerØnsket"></textarea><br>

    <label for="egenskaperØnsket">Skriv litt om ønskede egenskaper fra arbeidsgiver:</label>
    <textarea id="egenskaperØnsket" name="egenskaperØnsket"></textarea><br>

    <label for="minBakgrunn">Skriv litt om din bakgrunn:</label>
    <textarea id="minBakgrunn" name="minBakgrunn"></textarea><br>

    <label for="mineKvalifikasjoner">Skriv litt om dine kvalifikasjoner:</label>
    <textarea id="mineKvalifikasjoner" name="mineKvalifikasjoner"></textarea><br>

    <label for="mineEgenskaper">Skriv litt om dine egenskaper. Gi gjerne eksempler:</label>
    <textarea id="mineEgenskaper" name="mineEgenskaper"></textarea><br>

    <label for="motivasjon">Skriv litt om din motivasjon for jobben:</label>
    <textarea id="motivasjon" name="motivasjon"></textarea><br>

    

    <button type="submit">Submit</button>
  </form>

  <% if(application){ %>
    <div id="application"><%- application %></div>
  <% } %>


</body>
</html>
